# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# Database
*.db
*.db-journal

# Configuration
.env

# OS files
.DS_Store
Thumbs.db

# SSH Keys
SSH keys/

